// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #262262;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #F1F1F2;
$light-gray: #F4F4F4;
$dark-gray: #58585B;
