<div class="detail-text">
  <div class="detail-head">
    <h7>
      <strong>
        /
      </strong> <%= head %>
    </h7>
    <div class="detail-arrow">
      <i class="fas fa-arrows-alt-v"></i>
    </div>
  </div>
  <div class="hidden detail-design">
    <p><%= body %></p>
  </div>
</div>
