<div class="container black">
  <div id="have-something">
    <br>
    <div class="above-text">
      <h3 style="font-family:  'Libre Caslon Text', serif;">Have something in mind?</h3>
    </div>
    <br>
    <div class="bottom-text">
      <h4>Feel free to contact us or meet us over a cup of latte or tea. Let us help you build the place you are dreaming of.</h4>
      <h4>
        Visit us at:<%= link_to " 6, Gorule Chawl, Subash Road, Vile Parle (East), Mumbai - 400057 (open in google maps)" , "https://goo.gl/maps/mf64k2B8pg4bTmUDA" %>
        <br>
        Or reach us at: <a href="tel:+919987769687"> +919987769687</a> | <a href="tel:+919320123486"> +919320123486</a>

        <!-- <a href="tel:+919320123486"><i class="fas fa-mobile"></i> +919320123486</a> | <a href="tel:+919987769687"><i class="fas fa-mobile"></i> +919987769687</a> -->
        <br>
        <div class="">
          Stay Connected:&nbsp&nbsp <%= link_to "", "https://www.facebook.com/Decent-Interiors-101090587983280/?ref=br_rs", class: "fab fa-facebook" %>
          &nbsp
          <%= link_to "", "https://instagram.com/decent_interiors?igshid=n40zgqb1j1if", class: "fab fa-instagram" %>
        </div>
        <br>
        <h5>
          Image Credits: Canva
        </h5>
      </h4>
    </div>
  </div>
</div>
