<div id="our-services">
  <div class="">
    <%= image_tag("blue-highlighter.png", size: "55x20") %><i>OUR SERVICES</i>
  </div>
  <div class="gray-info home-margin">
    <div class="detail-text">
      <h7><strong>/</strong> Design Consultation<br></h7>
      <div class="hidden detail-design">
        <p>Looking for some great options or some innovative idea? Relax , we are here for you! we provide you with free consultation with our Designers who are specialized and suitable to your need. Our design service includes Design & Drawings,3D Modelling for better visualization, installation drawings with furniture layouts and also includes estimation of your project. We can help for Structural Designing as well with the help of our consultants for structural drawings and models.</p>
      </div>
    </div>
    <div class="detail-text">
      <h7><strong>/</strong> Civil Works,MEP, Interior and Exterior Finishing Job<br></h7>
      <div class="hidden detail-design">
        <p>We have vast experience of execution of civil related works which includes but not limited to RCC frame construction, Masonry works, Tiling works, Painting jobs, waterproofing etc. We also have specialized team for electric, plumbing, HVAC, Fire fighting works (MEP) based on Project requirements..</p>
      </div>
    </div>
    <div class="detail-text">
      <h7><strong>/</strong> Interior Decor<br></h7>
      <div class="hidden detail-design">
        <p>Transformation space happens here! It is all about the magic of right colours/ material selections, space management and correct furniture; these are few key elements for perfect work. We provide complete service right from choosing quality product, getting the best material from the market and execution / installation by our expert skilled manpower. We make sure every bit falls on the right spot to complete your masterpiece..</p>
      </div>
    </div>

    <div class="detail-text">
      <h7><strong>/</strong> Doors/ Windows design and Installation<br></h7>
      <div class="hidden detail-design">
        <p>
          Solid walls blocking your view? Or need clean view from your drawing room or your personal cabin? We provide solution for that too. We have separate department dedicated for Design and Installation of Alluminium Windows, ACP cladding, Glass Facades, Glass partitions specific to your needs.
        </p>
      </div>
    </div>
    <br>
  </div>
</div>

<div class="white">
<br>
  <div class="home-margin our-approach">
    <h6>Our approach is to provide complete solution for all your needs with single point contact. We will provide live updated everyday to execution work at site, We follow strong principles of project management with team of expert manager.</h6>
  </div>
<br>

</div>
