<div class="gray-section">
  <div class="blus-slash">
    <%= image_tag("blue-highlighter.png", size: "55x20") %><i>OUR SERVICES</i>
  </div>
  <div class="container">
    <div class="gray-info">
      <h7><strong>/</strong> Interior Design And Execution<br>
        <strong>/</strong> Interior Design And Execution<br>
        <strong>/</strong> Interior Design And Execution<br>
        <strong>/</strong> Interior Design And Execution<br>
        <strong>/</strong> Interior Design And Execution</h7 >
      </div>
    </div>
  </div>
</div>
