<div id="sectors">
  <div class="">
    <%= image_tag("blue-highlighter.png", size: "55x20") %><i>SECTORS</i>
  </div>
  <div class="gray-info home-margin">
    <div class="detail-sector">
      <h7><strong>/</strong> Residential Flats / Raw Houses / Bungalows<br></h7>
    </div>
    <div class="sector-text">
      <h7><strong>/</strong> Cafes / Restaurants / Lounges / Pubs<br></h7>
    </div>
    <div class="sector-text">
      <h7><strong>/</strong> Corporate Offices<br></h7>
    </div>
    <div class="sector-text">
      <h7><strong>/</strong> Showrooms / Shopping Malls / Super Markets<br></h7>
    </div>
    <div class="sector-text">
      <h7><strong>/</strong> Gyms / Fitness Centers / Studios<br></h7>
    </div>
    <br>
  </div>
</div>
