<div id="sectors">
  <div class="blue-heading">
    <%= image_tag("blue-highlighter.png", size: "55x20") %><i>SECTORS</i>
  </div>
  <div class="gray-info home-margin">
    <div class="detail-sector">
      <h3><strong>/</strong> Cafes / Restaurants / Lounges / Pubs<br></h3>
    </div>
    <div class="sector-text">
      <h3><strong>/</strong> Corporate Offices<br></h3>
    </div>
    <div class="sector-text">
      <h3><strong>/</strong> Showrooms / Shopping Malls / Super Markets<br></h3>
    </div>
    <div class="sector-text">
      <h3><strong>/</strong> Gyms / Fitness Centres / Studios<br></h3>
    </div>
    <div class="sector-text">
      <h3><strong>/</strong> Residential Flats / Row Houses / Bungalows<br></h3>
    </div>
  </div>
</div>
