<div class="banner" style="background-image: linear-gradient(rgba(46,49,146,0.5),rgba(65,64,66,0.4)), url(https://res.cloudinary.com/logicisaliar/image/upload/v1566499749/Decent%20Interior/banner_main_image-01.jpg);">
  <div class="container">
    <h1>Transforming <br> Spaces<hr align="left"></h1>
    <!-- <p> -->
      <!-- <span id="banner-typed-text"></span> -->
      <!-- </p> -->
      <a class="btn btn-flat" href="https://api.whatsapp.com/send?phone=919920204292&text=Hey!%20I%20would%20like%20a%20quote!&source=&data=">Get your quote now</a>
    </div>
  </div>
  <div class="container">
    <div class="about-text">
      <hr>
      <h6>At Decent, we are a well-knit team of constructors and designers with an experience of more than 20 years in the field of Interior designing and fabrication work.</h6>
      <hr>
      <div class="about-blue">
        <h6>We make sure that a mere location composed of bricks and cement is turned into
          the dream space you envisioned. Inducing creativity in our work, we deliver work
          that gets you appraise from your friends and family. We have execeuted projects
          in all sectors and are experts in:
          <br>• Commercial Showrooms <br>• Corporate Offices and Work Space <br>• Gyms<br>
          • Lounges, Cafés, Restaurants <br>• Residential Spaces - Apartments as well as Bungalows</h6>
        </div>
        <hr>
      </div>
    </div>

    <!-- About -->

    <div class="container">
      <div class="card-product">
        <div class="card-product-infos">
          <div class="vertical">
            <h2>Manoj Makwana</h2>
            <p>An Interior Designer by profession, he always has his creative juices flowing. He graciously leads our Interior Division with years of experience in interior decor. He is the brains behind those stunning looks and futuristic designs that speak to your heart.</p>
          </div>
        </div>
      </div>
      <div class="card-product">
        <div class="card-product-infos">
          <h2>Himanshu Makwana</h2>
          <p>A civil engineer by qualification and a Professional Planner with modern
          edge experience in Project planning and management, he brings a young and fresh approach on the table. Himanshu is a core member of Business development and he also makes sure that all projects are executed in a seamless fashion.</p>
        </div>
      </div>
      <div class="card-product">
        <div class="card-product-infos">
          <h2>Prakash Makwana</h2>
          <p>He spearheads our aluminium fabrication department with an experience of 25 years in the industry. With an impeccable eye for detail, he is a virtuoso of glazing work of buildings, both residential and commercial.</p>
        </div>
      </div>
      <div class="card-product">
        <div class="card-product-infos">
          <h2>Amit Bhaip</h2>
          <p>Mr. Amit leads the Civil construction and finishing work with an in-depth experience of the industrial standards and systems. With the qualities of a leader, he is an ardent worker with incredible managerial skills who is taking this department to greater heights.</p>
        </div>
      </div>
      <div class="card-product">
        <div class="card-product-infos">
          <h2>Vishnu Mistry</h2>
          <p>Interior Designer and avid Executioner of the complex projects. His support in
          exploring new avenues for the company and delivering the best in terms of design as well as execution is incredible.</p>
        </div>
      </div>
      <div class="card-product">
        <div class="card-product-infos">
          <h2>Team</h2>
          <p>Company is supported by the team of experienced Engineers and expert Site Supervisors.
          They are our core strength and backbone of the organisation.</p>
        </div>
      </div>
    </div>

