<div class="banner" style="background-image: linear-gradient(rgba(46,49,146,0.5),rgba(65,64,66,0.4)), url(https://res.cloudinary.com/logicisaliar/image/upload/v1566499749/Decent%20Interior/banner_main_image-01.jpg);">
<picture>
  <source media="(min-width: 650px)" srcset="https://res.cloudinary.com/logicisaliar/image/upload/v1566499748/Decent%20Interior/IMG_0528.jpg">
  <source media="(min-width: 465px)" srcset="https://res.cloudinary.com/logicisaliar/image/upload/v1566499714/Decent%20Interior/27112017_Hitchki_02.jpg">
  <img src="https://res.cloudinary.com/logicisaliar/image/upload/v1566499735/Decent%20Interior/banner_design-01.jpg" alt="Flowers" style="width:auto;">
</picture>

  <div class="container">
    <h1>Decent Interior</h1>
    <p>
      <span id="banner-typed-text"></span>
    </p>
    <a class="btn btn-flat" href="#">Get your quote now</a>
  </div>
</div>

