<div class="banner" style="background-image: linear-gradient(rgba(46,49,146,0.5),rgba(65,64,66,0.4)), url(https://res.cloudinary.com/logicisaliar/image/upload/v1566499749/Decent%20Interior/banner_main_image-01.jpg);">
  <div class="container">
    <h1>Transforming <br> Spaces<hr align="left"></h1>
    <!-- <p> -->
      <!-- <span id="banner-typed-text"></span> -->
    <!-- </p> -->
    <a class="btn btn-flat" href="https://api.whatsapp.com/send?phone=919920204292&text=Hey!%20I%20would%20like%20a%20quote!&source=&data=">Get your quote now</a>
  </div>
</div>

