.btn-ghost {
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  opacity: 1;
}

.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: $blue;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #1BCB7F;
  color: white;
}

.btn-gradient {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#167FFB, #0F60C4);
  transition: background 0.3s ease;
  border: 1px solid #0F60C4;
}

.btn-gradient:hover {
  background: linear-gradient(#147EFF, #0F67DA);
  color: white;
}

.blue-button {
  align-items: baseline;
  background-color: $blue;
  padding: 5px;
  animation-name: blue-button;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  height: 50px;
  // justify-content: space-between;
  display: flex;
}

.blue-button p {
  padding-left: 30px;
  color: white;
  font-weight: bold;
  font-size: 25px;
}


.blue-button a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-decoration: none;
    /* Makes sure the link doesn't get underlined */
    z-index: 10;
    /* raises anchor tag above everything else in div */
    background-color: white;
    /*workaround to make clickable in IE */
    opacity: 0;
    /*workaround to make clickable in IE */
    filter: alpha(opacity=0);
    /*workaround to make clickable in IE */
}
.blue-button img {
  position: absolute;
  left: -25px;
  top: 0px;
}

@keyframes blue-button {
  0%   {
    background-color: rgba($blue, 1);
  }

  50%  {
    background-color: rgba($blue, 0.9);
  }
}

.blue-button:hover {
    cursor: hand;
    cursor: pointer;
    opacity: .9;
}
