.card-product {
  margin-top: 30px;
  margin-bottom: 10px;
  // overflow: hidden;
  // height: 180px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  border: 3px solid $light-gray;
  border-radius: 2px;
}

.card-product img {
  padding-top: 16px;
  height: 100px;
  width: 120px;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding-top: 16px;
  background: white;
}
.footer-position {
  // position: relative;
  // bottom: 5px;
  display: flex;
  justify-content: space-around;
  background: white;
  bottom: 10px;
}
