.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 100px;
}

.navbar-toggler-togglers {
  border-color: rgba(255,255,255,1) !important;
}

.navbar-light {
  border-color: rgba(255,255,255,1) !important;
}
