.navbar-lewagon {
  justify-content: space-between;
  background: white;
  position: fixed;
  width: 100%;
  transition: 0.5s background-color ease;
}

.navbar-lewagon-white {
  background-color: white;
}
.navbar-fix {
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 100px;
}

.navbar-toggler-togglers {
}

.navbar-toggler {
  border-color: rgba(255,255,255,1) !important;
}
